.DS_Store
node_modules
/build
/.svelte-kit
/package
/scripts
/dir
firestore-debug.log
ui-debug.log
.env
.vscode
database-debug.log
.env.*
!.env.example
hetzner_api_token.txt
sveltekit-firebase-v2.babel
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
sveltekit-firebase-v2-firebase-adminsdk-8x380-518047bbcb.json
.firebase/
firebase-debug.log
/test-results/
/playwright-report/
/playwright/.cache/
SITEINFO.md