.DS_Store
node_modules
/build
/.svelte-kit
/package
/scripts
/dir
firestore-debug.log
ui-debug.log
.env
.vscode
database-debug.log
.env.*
!.env.example
hetzner_api_token.txt
sveltekit-firebase-v2.babel
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
sveltekit-firebase-v2-firebase-adminsdk-8x380-518047bbcb.json
.firebase/
firebase-debug.log
/test-results/
/playwright-report/
/playwright/.cache/
SITEINFO.md
clean-tables_nohup_node.txt
elasticsearch.json
Licensing Terms for BabelEdit.sty
MastoStream Translations.babel
src/lib/components/Cards/CardLineChartOld.svelte

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
testClass.js
languages.json
languages.html
wikimedia_response.json
wikipedia article extracts with html.md
calculatePct.js
problem_note_belmont.json
fixFileName.js
sampleCodeForSearch.html
getRandomRangeTest.js
florida_registered_agents.md
backblaze_update.txt
backblaze-bucket-cors-rules.json
