/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  scroll-behavior: smooth;
}


html, body { @apply h-full overflow-hidden; }

* {
  font-family: 'Inter', sans-serif;
}

apexcharts-yaxis-label {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

* {
    --tw-ring-color: rgb(49, 196, 141) !important;
  }
.flex-auto {
  flex: 0 1 auto;
}


.max-w-screen-xl {
  max-width: 1536px;
}



